node_modules/
public/vendor/
.idea/
/logs/log.log
.cache/
uploads/*
!uploads/.gitkeep
tst.js
public/lib.css
public/lib.css.map
public/lib.min.css
public/lib.min.css.map
public/lib.js
public/lib.js.map
public/lib.min.js
public/lib.min.js.map
/settings.dev2.json
/settings.dev.json
/settings.production.json
