/////////////////////////////////////////////////////////////////////////
/////// FONT ////////////////////////////////////////////////////////////////

.ff-default
   font-family: $ff-default

.ff-serif
   font-family: $ff-serif

.ff-mono
   font-family: $ff-mono

/////////////////////////////////////////////////////////////////////////
/////// text ///////////////////////////////////////////////////////

for $val in 40 50 60 70 75 80 85 90 95 100 110 120 130 140 150 160 170 180 190 200
   .text-{$val}
      font-size: ($val) %;

.text-left
   text-align left

.text-right
   text-align right

.text-center
   text-align center


/////// button ////////////////////////////////////////////////////////////////

button, .button
   border 1px solid white
   padding: .25em .5em;
   font-size: 100%
   color: white;
   background-color: $baseColor;
   cursor pointer

   &:hover
      background-color: $tableAlt2;

   &:disabled
      color $button-disabled
      border-color $button-disabled
      cursor not-allowed

      &:hover
         background-color $baseColor


/////////////////////////////////////////////////////////////////////////

.flex-row
   display flex
   flex-direction row
   align-items: center;
   flex-wrap wrap


.a-white, .a-white:visited
   color white
   text-decoration: none;

.a-white:hover
   text-decoration: underline


/////// margin / padding ////////////////////////////////////////////////////////////////

.ms-1
   margin-left: .25em;

.ms-2
   margin-left: .5em;

.ms-3
   margin-left: .75em;

.ms-4
   margin-left: 1em;

.p-1
   padding: .25em;

.p-2
   padding: .5em;

.p-3
   padding: .75em;

.p-4
   padding: 1em;

.p-1-2
   padding: .25em .5em;
