.table
  border-collapse collapse
  margin: 0 auto;

  thead
    background-color: $white
    color $baseColor

  th
    padding: .5em 1em;
    //border-color $baseColor
    //border-width 1px

  th, td
    border 1px solid $white
    padding: .4em .8em;

  a, a:hover
    color $white
    text-decoration none

  a:hover
    text-decoration: underline;

  tbody
    tr:nth-child(odd)
      background-color: tint($baseColor, 15%);

    tr > td:nth-child(2) // name
      text-align: left;

    tr > td:nth-child(3) // size
      text-align: right;

    tr > td:nth-child(4) // date
      text-align: left;

