$white = #fff
//$baseColor = #006A9f
//$baseColor = #4F5C7B // winter morning
//$baseColor = #30567D // winter morning
//$baseColor = #AA6732 // desert
//$baseColor = #B97D50 // desert
//$baseColor = #897943 // forest
//$baseColor = #472D0D // forest
//$baseColor = #6C8A50 // forest
//$baseColor = #FD7E02 // fire
//$baseColor = #9E2E0A // fire
//$baseColor = #D35605 // fire
$baseColor = #004860 // deep sea
//$baseColor = #0A355B // deep sea
//$baseColor = #120B2E // deep sea
//$baseColor = #012B4C // deep sea
$baseColorText = #ffffff
$baseColorComplement = #4500e6
$shadedText = tint($baseColor, 70%)
$shadedText2 = tint($baseColor, 90%)
$tableAlt = shade($baseColor, 5%)
$tableAlt2 = tint($baseColor, 20%)
$bg-nav = shade($baseColor, 20%)

$errorColor = #C75900

$ff-default = "Lucida Grande", Helvetica, Arial, sans-serif
$ff-serif = "Times New Roman", Times, serif
$ff-mono = Menlo, Monaco, Consolas, "Courier New", monospace

$button-disabled = tint($baseColor,60%)

