@font-face {
  font-family: 'file-upload';
  src: url('../font/file-upload.eot?51896873');
  src: url('../font/file-upload.eot?51896873#iefix') format('embedded-opentype'),
       url('../font/file-upload.woff2?51896873') format('woff2'),
       url('../font/file-upload.woff?51896873') format('woff'),
       url('../font/file-upload.ttf?51896873') format('truetype'),
       url('../font/file-upload.svg?51896873#file-upload') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'file-upload';
    src: url('../font/file-upload.svg?51896873#file-upload') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "file-upload";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-trash-empty:before { content: '\2190'; } /* '←' */
.icon-docs:before { content: '\2191'; } /* '↑' */
.icon-doc:before { content: '\2192'; } /* '→' */
.icon-trash:before { content: '\e75f'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-left-big:before { content: '\e808'; } /* '' */
.icon-right-big:before { content: '\e809'; } /* '' */
.icon-up-big:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-up:before { content: '\e80c'; } /* '' */
.icon-down:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e80f'; } /* '' */
.icon-angle-up:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-mic:before { content: '\e814'; } /* '' */
.icon-mute:before { content: '\e815'; } /* '' */
.icon-desktop:before { content: '\e816'; } /* '' */
.icon-videocam:before { content: '\e817'; } /* '' */
.icon-camera:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\e81a'; } /* '' */
.icon-cancel-circled2:before { content: '\e81b'; } /* '' */
.icon-ok-squared:before { content: '\e81c'; } /* '' */
.icon-ok-circled2:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-ok:before { content: '\e81f'; } /* '' */
.icon-th-list:before { content: '\e820'; } /* '' */
.icon-plus:before { content: '\e821'; } /* '' */
.icon-plus-circled:before { content: '\e822'; } /* '' */
.icon-plus-squared:before { content: '\e823'; } /* '' */
.icon-plus-squared-alt:before { content: '\e824'; } /* '' */
.icon-minus:before { content: '\e825'; } /* '' */
.icon-minus-circled:before { content: '\e826'; } /* '' */
.icon-minus-squared:before { content: '\e827'; } /* '' */
.icon-minus-squared-alt:before { content: '\e828'; } /* '' */
.icon-help:before { content: '\e829'; } /* '' */
.icon-help-circled:before { content: '\e82a'; } /* '' */
.icon-info-circled:before { content: '\e82b'; } /* '' */
.icon-info:before { content: '\e82c'; } /* '' */
.icon-home:before { content: '\e82d'; } /* '' */
.icon-link:before { content: '\e82e'; } /* '' */
.icon-unlink:before { content: '\e82f'; } /* '' */
.icon-attach:before { content: '\e830'; } /* '' */
.icon-lock:before { content: '\e831'; } /* '' */
.icon-lock-open-alt:before { content: '\e832'; } /* '' */
.icon-eye:before { content: '\e833'; } /* '' */
.icon-eye-off:before { content: '\e834'; } /* '' */
.icon-mail:before { content: '\e835'; } /* '' */
.icon-mail-alt:before { content: '\e836'; } /* '' */
.icon-search:before { content: '\e837'; } /* '' */
.icon-heart:before { content: '\e838'; } /* '' */
.icon-heart-empty:before { content: '\e839'; } /* '' */
.icon-star:before { content: '\e83a'; } /* '' */
.icon-star-empty:before { content: '\e83b'; } /* '' */
.icon-user:before { content: '\e83c'; } /* '' */
.icon-user-secret:before { content: '\e83d'; } /* '' */
.icon-calendar:before { content: '\e83e'; } /* '' */
.icon-location:before { content: '\e83f'; } /* '' */
.icon-globe:before { content: '\e840'; } /* '' */
.icon-vcard:before { content: '\e841'; } /* '' */
.icon-link-ext:before { content: '\e842'; } /* '' */
.icon-link-ext-alt:before { content: '\e843'; } /* '' */
.icon-login:before { content: '\e844'; } /* '' */
.icon-logout:before { content: '\e845'; } /* '' */
.icon-upload:before { content: '\e846'; } /* '' */
.icon-download:before { content: '\e847'; } /* '' */
.icon-floppy:before { content: '\e8a0'; } /* '' */
.icon-video:before { content: '\f09e'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
